:root {
  --background: #ffffff;
  --text-primary: #000;
  --button-bg: #000;
  --button-text: #ffffff;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --button-bg: #fff;
  --button-text: #000;
}

.light-dark-container {
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
